*{ 
    margin:0;
    padding: 0;
    font-family: "Times New Roman";
  }  
  body{
    background: rgb(255, 255, 255);
    background-position:center;
    background-size: cover;
  }
/* Add this CSS for styling the file input and label */
  input[type="file"] {
    display: none; /* Hide the file input */
  }
 
  /* Style for the buttons */
  button {
    display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: green;
  border: none;
  padding: 10px 10px;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  width: 95%;
  }
  
  button:hover {
  background-color: rgb(32, 72, 32);
  }
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
}
  
  #result-id-picture {
	width: 150px;
	height: 150px;
	border: 1px solid #000000;
	display: flex;
	justify-content: space-between;
	border-radius: 5px;
}

  #id_picture_preview_container {
    width: 192px; /* Set the desired width */
    height: 192px; /* Set the desired height */
    overflow: hidden; /* Crop the image if it's larger */
    border: 1px solid #ccc; /* Add a border for styling */
    cursor: pointer; /* Add a pointer cursor to indicate it's clickable */
    position: relative;
    text-align: center;
    margin-right: 2px; /* Align to the right */
    background-color: #ffffff;
  }

  #id_picture_preview_container p {
    font-size: 14px;
    margin: 50px 2px;
    text-align: center;
  }
  
  h2 {
  text-align: center;
  }

  h5 {
    font-size: 14px;
    }
  
  .privacy-heading {
  font-size: 12px; /* Adjust the font size as needed */
  margin-top: 10px; /* Add margin to separate from the table */
  }
  
  p.privacy-notice {
  text-align: justify; /* Justify align the text */
  font-size: 11px; /* Adjust the font size as needed */
  line-height: 1.5; /* Adjust the line height for readability */
  }
  
  .form-container {
  display: flex;
  flex-direction: row;
  gap: 15px; /* Adjust the gap between form groups */
  }
  
  .form-group {
  flex: 1; /* Make the form groups occupy available space */
  display: flex;
  flex-direction: column;
  }
  
  .form-group label {
  margin-bottom: -6px;
  }
  
  .form-group input {
    font-weight: bold;
    font-size: 12px; /* Adjust the size according to your preference */
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #cccccc;
}
  
  p.to-be-filled{
  font-weight: bold;
  font-size: 11px; /* You can adjust the size as needed */
  margin-top: 15px;
  
  }
  p.attestation-head {
  text-align: center; /* Center align the text */
  font-size: 12px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the font bold */
  margin: 5px; /* Add margin at the bottom */
  
  }
  
  p.attestation-note {
  text-align: justify; /* Justify align the text */
  font-size: 12px; /* Adjust the font size as needed */
  line-height: 1.5;
  padding-right: 5px;
}

  .student_signature p {
    border-top: 1px solid black;
    padding-right: 5px;
    width: 35%;
    font-style: italic;
    float: right; /* Float the text to the left */
    clear: left; /* Clear the float to avoid layout issues */
    text-align: center;
}

  .applicant_number {
  display: flex;
  align-items: center;
  font-size: 12px;
  }
  
  .applicant_number label {
  width: 250px; /* Adjust the width of the label */
  }
  
  .applicant_number input {
  width: 180px; /* Adjust the width of the input */
  margin-left: 10px; /* Add margin between label and input */
  border: none; 
  }
  p.acknowledge-text {
  font-size: 11px; /* Adjust the font size as needed */
  line-height: 1.6; /* Adjust the line height for readability */
  margin: 10px 0; /* Add margin for spacing */
  }
  
  /* Styles for the custom label */
  .custom-label {
  width: 150px; /* Adjust the width of the label to align with other fields */
  /* Add margin to lower the label */
  }
  
  /* Styles for the custom dropdown using ID */
  #slip_degree {
  width: 100%; /* Input fields occupy the available width */
  margin-bottom: 10px;
  border-radius: 5px; /* Adding border radius */
  padding: 10px; /* Optional: Adjust padding for better appearance */
  border: 1px solid #ccc; /* Optional: Border for input fields */
  margin-top: 10px;
  }
  #slip_degree:focus {
  border-color: #04AA6D;
  }
  
  .custom-dropdown {
  position: relative;
  width: calc(100% - 200px); /* Adjust the width to align with other input fields */
  }
  
  .custom-dropdown::after {
  content: '\25BC'; /* Unicode down arrow symbol */
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background: #fff;
  border: 1px solid #aaaaaa;
  border-radius: 0 5px 5px 0;
  pointer-events: none;
  }
  
  .custom-dropdown::after {
  border-color: #ccc; /* Match the border color with other input fields */
  }
  
  .custom-dropdown select {
  width: 100%; /* Adjust the width to match other input fields */
  padding: 8px; /* Adjust padding for consistency */
  margin-top: 15px; /* Match margin with other input fields */
  border: 1px solid #ccc; /* Match border with other input fields */
  border-radius: 5px; /* Match border radius with other input fields */
  }
  
  .custom-dropdown::after {
  border-color: #ccc; /* Match the border color with other input fields */
  }
  
  /* Adjust the width and size of the dropdown */
  #relationship_1,
  #relationship_2 {
  padding: 9px; /* Adjust the padding as needed */
  }
  #slip_degree:focus + .custom-dropdown::after {
  border-color: #04AA6D;
  }
  
  p.head_information {
    font-size: 12px; /* Adjust the font size as needed */
    text-decoration: underline; /* Add an underline */
    margin-bottom: 5px; /* Add some margin at the bottom */
    font-weight: bold;
  }
  p.privacy-notice-text {
    font-size: 11px; /* Adjust the font size for the text */
    text-align: justify; /* Justify align the text for better readability */
    line-height: 1.5; /* Adjust the line height for readability */
    margin: 0; /* Remove margin to style the text closer to the heading */
    margin-bottom: 10px;
  }
  p.personal_information {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    font-style: italic; /* Add this line for italization */
}
  /* Add this CSS for the grid layout with five fields in each row */
  .form-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);  /*Five equal-width columns */
  gap: 10px; /* Adjust the gap between form groups */
  }
  .form-container1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
    gap: 10px; /* Adjust the gap between form groups */
  }
  .form-container2 {
    display: grid;
    grid-template-columns: 15% 17% 7% 17% 19% 19%;
    gap: 10px; /* Adjust the gap between form groups */
  }
  .form-container3 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
  }
  .form-container4 {
    display: grid;
    grid-template-columns: repeat(3, 25% 37.5% 37.5%); 
    gap: 10px; 
  }
  .form-container5 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
  }
  .form-container6 {
    display: grid;
    grid-template-columns: 20% 65% 15%;  
    gap: 10px;
  }
  .form-container7 {
    display: grid;
    grid-template-columns: repeat(3, 55% 20% 25%); 
    gap: 10px; 
  }
  .form-group {
  display: inline-block;
  margin-right: 15px; /* Adjust this value as needed */
  }
  
  /* Optional: Adjust the width of the label and input if needed */
  .small-label {
  /* width: 150px; Adjust the width as needed */
  font-size: 12px; /* Adjust this value as needed */
  margin-bottom: 5px;
  color: gray;
  }
  
  .hide {
    display: none; /* Set display property to none to hide the element */
  }
  
  /* Apply styles to the page container */
  .page-containerr {
  background-color: #ffffff;
  padding: 5px 5px;
  font-family: Arial, sans-serif;
  max-width: 95%; /* Limit the width of the container to 95% of the screen */
  margin: 0 auto; /* Center the container horizontally */
  }

  .page-containerr .inline-heading {
    display: flex; /* Add flex display */
    flex-direction: row; /* Align items vertically */
    align-items: stretch; /* Center items vertically */
    justify-content: center; /* Align items horizontally center */ 
}

  .page-containerr .head-der {
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
  }
  
  .page-containerr .applicantandperso {
    display: flex; /* Add flex display */
    flex-direction: row; /* Align items vertically */
    align-items: stretch; /* Center items vertically */
    justify-content: center; /* Align items horizontally center */ 
}

  /* For smaller devices */
  @media (max-width: 768px) {
  .form-container {
    display: block; /* Change layout to stacked for smaller screens */
  }
  .form-group {
    width: 100%; /* Set full width for smaller screens */
  }
  .form-group input {
   width: 100%;
  }
  }