body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #fff;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
/*Anonuncement Popup*/
.announcement_popup {
    background-color: #202020;
    width: 800px;
    padding: 5px 5px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.announcement_popup::before {
    content: '';
    display: block;
    width: 100%;
    height: 0.5px;
    background-color: #ccc;
    margin-bottom: 10px;
}
.announcement_popup h2 {
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}
.announcement_popup p {
    text-align: left;
    color: #ffffff;
    font-size: 10px;
}
.announcement_popup p::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc; /* Change the color to your preference */
    margin-top: 10px; /* Adjust the margin as needed */
}
.announcement_popup button {
    display: block;
    background-color: transparent;
    font-size: 12px;
    color: #ffffff;
    outline: none;
    border: none;
    margin-bottom: 10px;
}
/* Responsive Styles */
@media only screen and (max-width: 800px) {
.announcement_popup {
    width: 80%; /* Adjust the width for smaller screens */
}
}
/*Anonuncement Popup*/
header {
    background: rgba(14, 14, 14); /* Add a semi-transparent black background to the header for better readability */
    padding: 10px; /* Adjust the padding to reduce the height */
    text-align: center;
}
.logo img {
    width: 50px; /* Adjust the size of the logo as needed */
    height: auto;
    margin-right: 10px; /* Add some spacing between the logo and the university name */
}
.logo img {
    width: 50px; /* Adjust the size of the logo as needed */
    height: auto;
    margin-right: 10px; /* Add some spacing between the logo and the university name */
}

.scname {
margin: 0;
font-size: 1.5rem;
}

.content {
padding: 50px;
/* text-align: center; */
}

.content .par{
padding-left: 20px;
padding-bottom: 25px;
font-family: Arial;
letter-spacing: 1.2px;
line-height: 30px;
}

.content h1 {
font-family: 'Times New Roman';
font-size: 5vw; /* Set font size based on 5% of the viewport width */
color: #ffffff;
padding-left: 2vw; /* Set padding based on 2% of the viewport width */
margin-top: 2vh; /* Set margin-top based on 2% of the viewport height */
letter-spacing: 2px;
}

/* Additional media query for larger screens if needed */
@media (min-width: 768px) {
.content h1 {
    font-size: 40px; /* Set a fixed font size for larger screens if necessary */
    padding-left: 20px;
    margin-top: 9%;
}
}


.content span {
color: #23f810;
font-size: 5vw; /* Adjust the value as needed */
}

@media only screen and (max-width: 768px) {
.content span {
    font-size: 4vw; /* Adjust the value for smaller screens */
}
}

.side {
float: left;
text-align: left;
}
.form {
display: none;
flex-direction: column;
align-items: flex-start;
width: 300px; 
float: right;
width: 100%;
max-width: 300px; 
margin: auto;
padding: 20px;
box-sizing: border-box;
border-radius: 10px;
background: rgba(0, 0, 0, 0.5); 
}

.login-container {
margin-bottom: 20px;
}

.loginhead {
font-size: 2rem; /* Default font size */

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    font-size: 1.6rem; /* 80% of the default font size for smaller screens */
}
/* Add more media queries for different screen sizes if needed */
}

h2 {
text-align: center;
}

input {
width: 100%;
padding: 5px;
margin-bottom: 10px;
box-sizing: border-box;
border-radius: 5px;
}

.btnn {
background-color: #15ff00;
border: none;
color: rgb(255, 255, 255);
width: 100%;
padding: 5px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
cursor: pointer;
border-radius: 5px;
font-family: 'Arial', sans-serif;
font-size: 16px;

}
.btnn a {
color: #ffffff; /* Font color (white in this example) */
text-decoration: none;
font-weight: bold; /* Make the font bold */
}
.link {
text-align: center;
margin-bottom: 15px;
}

.liw {
text-align: left;
margin-bottom: 5px;
}


/* register.php */
    .error-message {
        color: #721c24;
        background-color: #f8d7da;
        border: 1px solid #f5c6cb;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 15px;
        animation: slideUp 0.5s ease;
        text-shadow: 0 0 5px red;
    }

    .success-message {
        color: #155724;
        background-color: #d4edda;
        border: 1px solid #c3e6cb;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 15px;
        animation: slideUp 0.5s ease;
        text-shadow: 0 0 5px green;
    }

    /* Keyframes for the slide-up animation */
    @keyframes slideUp {
        from {
            opacity: 0;
            transform: translateY(20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeOut {
        to {
            opacity: 0;
        }
    }

    /* Style for the dropdowns */
    select {
        font-size: 16px;
        padding: 2px;
        width: 100%;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        color: #555;
    }

    /* Style for the options within the dropdowns */
    option {
        font-size: 14px;
    }
    .hidden {
        display: none;
    }
    #description {
        display: none;
    }

    /* Style for the password fields with red background shadow */
    .password-error {
        box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    }

    /* Styles for the popup */
    .popup-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }

    .popup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0 0 100px rgba(61, 61, 61, 0.3);
        border: 5px;
        max-width: 50%;
        max-height: 60%;
        overflow-y: auto;
    }

    .border-pop {
        border: 2px solid grey;
        padding: 15px;
        
    }


    .popup p {
        font-size: 1vw;
        color:black;
        text-align: left;
        font-family: "Times New Roman", Times, serif;
        line-height: 20px;
        margin: 0;
        max-height: 200px;
        overflow-y: auto;
    }

    h3 {
        font-size: 1.2vw;
        color:black;
        font-weight: 700;
        text-align: center;
        /* max-height: 200px;
        overflow-y: auto; */
    }

    .popup form {
        display: grid;
            grid-template-columns: 5% 74% 19.6%;
            gap: 5px;
    }

    .popup form label {
        display: flex;
        align-items: left;
        font-size: .8vw;
        color: black;
        margin-left: 5px;
        margin-top: 10px;
    }

    .popup form button {
        margin-left: auto;
        border: 1px solid #155724;
        background-color: #155724;
        border-radius: 5px;
        font-size: .8vw;
        color: #ffffff;
        width: 60px;
        height: 30px;
        padding: 5px;
        margin-top: 10px;
    }

    .popup form input {
        width: 15px;
        height: 15px;
        margin-top: 20px;
        cursor: pointer;
    }

    .popup form button:hover,
    .popup form input:hover {
        background-color: #008287;
}
